
<%= render "shared/mainmenu"%>

<nav id="informationplacement">
	<div class= "pres-box">
		<div class= "blog-box">
			<center>
				<BIG>
					<h1>
						<b> Heeeeej </b>
					</h1>
				</BIG>
			<p> Heeeeej </p>
			</center>
		</div>
		<div class= "blog-box">
			<center>
				<BIG>
					<h1>
						<b> Heeeeej </b>
					</h1>
				</BIG>
			<p> Heeeeej </p>
			</center>
		</div>
		<div class= "blog-box">
			<center>
				<BIG>
					<h1>
						<b> Heeeeej </b>
					</h1>
				</BIG>
			<p> Heeeeej </p>
			</center>
		</div>
	</div>
</nav>

	